@import '../../styles/vars.scss';

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white-color;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }

    &__name {
        font-weight: bold;
        padding: 13px;
        font-size: 20px;
        color: $black-color;
        text-decoration: none;
        transition: color 0.7s;

        &:hover {
            color: $add-btn-bckg;
        }
    }

    &__remove {
        background: $white-color;
        border: none;
        margin-right: 7px;
        font-size: 17px;
        height: 30px;
        cursor: pointer;
    }
}